body {
    background: rgb(215, 250, 220);
    font-family: sans-serif;
}

.header {
    background-color: #ffff00;
    color: white;
    padding: 5px 10px;
}

.footer {
    background-color: #ffff00;
    padding: 6px;
    clear: both;
}
